
body {
    background-color: #d1d1d1d8;
}
#Demo {
    padding: 15px;
}
#TweetTBL {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#TweetTBL td, #TweetTBL th {
    padding: 12px 15px;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    text-align: center;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
    text-align: center;
}

#tableCap {
    font-size: 26pt;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 15px;
}
thead {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}